useDynLib(repfdr,.registration = TRUE)
export(repfdr,piem,ldr,hconfigs,em.control,ztobins,manhattan,twosided.PValues.tobins)
importFrom(Rcpp, evalCpp)
import(stats,graphics)
importFrom("utils", "tail")
